<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


	<bean class="com.xworkz.institute.dao.CourseDAOImpl"
		id="courseDAOImpl"></bean>

	<bean class="com.xworkz.institute.service.CourseServiceImpl"
		id="courseServiceImpl">
		<constructor-arg ref="courseDAOImpl"></constructor-arg>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		id="propertyPlaceholderConfigurer">
		<property name="location"
			value="resource/application.properties"></property>
	</bean>

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">


		<constructor-arg value="${jdbc.URL}"></constructor-arg>
		<constructor-arg value="${jdbc.USERNAME}"></constructor-arg>
		<constructor-arg value="${jdbc.PASSWORD}"></constructor-arg>
	</bean>
</beans>